{% extends 'base.html' %}


{% block headtitle %}
 I am Mayur
{% endblock headtitle %}

{% block content %}
<div class="row  text-center">
 <div class="col">
  <h1>Welocme to SPIRIT</h1>
  </div>
</div>

<div class="row mb-3">
   <div class="col-md-4 mx-auto col-10">
      <form class="form" method="POST" id="tweet-create-form" action='/cr_spirit/'>{% csrf_token %}
          <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
         <input type="hidden" value='/' name="next"/>
         <textarea class="form-control" required="required" name="content" placeholder="Share your SPIRIT"></textarea>
         <button type="submit" class="btn btn primary">SUBMIT</button>

      </form>

   </div>
</div>

<div class="row" id ='tweet'>
 Replace Me
</div>

<script>
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
//This function gets called when there is an 400 error in the tweet
function handle_tweet_form_error(msg, display){
    var myErrorDiv = document.getElementById("tweet-create-form-error")
    if (display === true){
        myErrorDiv.setAttribute("class", "d-block alert alert-danger")
        myErrorDiv.innerText = msg
    }
    else{
        myErrorDiv.setAttribute("class", "d-none alert alert-danger")
    }
}
function handle_tweet_create_form_after_submit(event){
    event.preventDefault()
    const myForm = event.target
    const myFormData = new FormData(myForm)
    const url = myForm.getAttribute("action")
    const method = myForm.getAttribute("method")
    const xhr = new XMLHttpRequest()
    const responseType = "json"
    xhr.responseType = responseType
    console.log(method, url)
    xhr.open(method, url)
    xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest") //We are calling ajax call already but in Django if we want to handle ajax call
    xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")      //in python we need to use this.. check "def spirit_create_view()"
    xhr.onload = function(){

       if (xhr.status === 201)   {
        handle_tweet_form_error("",false)
        const serverResponse = xhr.response
        console.log(xhr.status, serverResponse)
        console.log(serverResponse.likes)
        const newTweetElement = format_tweet_element(serverResponse)
        console.log(newTweetElement)
        const ogHtml = tweetElem.innerHTML
        tweetElem.innerHTML = newTweetElement + ogHtml
        myForm.reset()
        //const tweetElem = document.getElementById("tweet")
        //load_tweets(tweetElem)
            }
        else if (xhr.status === 400){
            const errorJson =  xhr.response
            console.log(errorJson)
            const contentError = errorJson.content
            let contentErrorMsg;
            if (contentError) {
                contentErrorMsg = contentError[0]
                if (contentErrorMsg) {
                    handle_tweet_form_error(contentErrorMsg, true)
                }
                else {
                    alert("An error occured. Please try again")
                }
            }
            else{
                alert("An error occured. Please try again")
            }
        }
        else if (xhr.status === 403){
            alert("There was an error please try again.")
            window.location.href = '/login'
         }
         else if (xhr.status === 500){
            alert("There was an error please try again.")
         }

    }
    xhr.onerror = function() {
        alert("An error occurred please try again later")
    }
    xhr.send(myFormData)
}

const tweet_create_form_el = document.getElementById("tweet-create-form")
tweet_create_form_el.addEventListener("submit",handle_tweet_create_form_after_submit)

const tweetElem = document.getElementById("tweet") //when page get reload everytime this id gets called
function load_tweets(tweetElements){
    tweetElements.innerHTML = 'Loading...'
    const xhr = new XMLHttpRequest()
    const method = 'GET'
    const url = "/spirit"
    const responseType = "json"
    var el1 = "<h3>Hi there</h3>"
    var el2 = "<h3>Hi there</h3>"
    var el3 = "<h3>Hi there</h3>"
    tweetElements.innerHTML = el1 + el2 + el3

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
     const serverResponse = xhr.response
     var listedItems = serverResponse
     //console.log(listedItems)
     var final_tweet = ''
     var i;
     for(i=0; i< listedItems.length; i++)
     {
       //console.log(i)
       //console.log(listedItems[i])
       var tweet_obj = listedItems[i]
       current_items = format_tweet_element(tweet_obj)
       final_tweet += current_items
     }
     tweetElements.innerHTML = final_tweet

    }
    xhr.send()
    }

load_tweets(tweetElem)

function handled_tweet_action(tweet_id, current_count){
//console.log(">>>>>>>>>>",tweet_id,current_count)
console.log(">>>>>>>>>>",tweet_id,current_count)
const url = "api/spirit/action"
const method = "POST"
const data = JSON.stringify({
    id: tweet_id,
    action: "like"
})
const xhr = new XMLHttpRequest()
const csrftoken = getCookie('csrftoken'); //https://stackoverflow.com/questions/20504846/why-is-it-common-to-put-csrf-prevention-tokens-in-cookies
xhr.open(method, url)
xhr.setRequestHeader("Content-type","application/json" )
xhr.setRequestHeader("HTTP_X_REQUESTED_WITH","XMLHttpRequest") //We are calling ajax call already but in Django if we want to handle ajax call
xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")//in python we need to use this.. check "def tweet_action_view()"
xhr.setRequestHeader("X-CSRFToken",csrftoken) //You have to pass the CSRF token with every AJAX post request
xhr.onload = function(){

    console.log(xhr.status,xhr.response)
    //This will be handled by ReactJs with better and ease
    load_tweets(tweetElem)

}
xhr.send(data)
return
}

function spirit_button(tweet){
button_unlike = "<button class='btn btn-outline-success btn-sm' type='button' onclick= handled_tweet_action("+ tweet.id +","+tweet.likes+ ",'spirit')>Spirit</button>"
return button_unlike
}

function unlike_button(tweet){
button_unlike = "<button class='btn btn-outline-primary btn-sm' type='button' onclick= handled_tweet_action("+ tweet.id +","+tweet.likes+ ",'UNLIKE')>UNLIKE</button>"
return button_unlike
}

function like_button(tweet){
button = "<button class='btn btn-primary btn-sm' type='button' onclick= handled_tweet_action("+ tweet.id +","+tweet.likes+ ",'like')>"
+tweet.likes+"LIKE</button>"
return button
}

function format_tweet_element(tweet){
formatted_tweet = "<div class='col-12 col-md-10 mx-auto border rounded py-3 mb-4' id='tweet'><p>" +tweet.id + "</p><p>"
+tweet.content+"</p><p><div class='btn btn-group'>"
+like_button(tweet)+
unlike_button(tweet)+
spirit_button(tweet)+
"</div></p></div>"
return formatted_tweet
}


</script>
{% endblock content %}
